Repository canonical/traefik-k8s-operator, pull requests merged in 2025-07, with the labels that each got.

#497 fix: TF outputs.tf
  terraform/outputs.tf
Labels: Libraries: Out of sync

#518 ci: update ci to v1
  .github/workflows/promote.yaml
  .github/workflows/pull-request.yaml
  .github/workflows/quality-gates.yaml
  .github/workflows/release.yaml
  .github/workflows/tiobe-scan.yaml
  .github/workflows/update-libs.yaml
  charmcraft.yaml
  pyproject.toml
  src/charm.py
  tests/integration/conftest.py
  tests/integration/test_forward_auth.py
  tests/integration/test_tls.py
  tests/scenario/conftest.py
  tests/unit/_utils.py
  tests/unit/conftest.py
  tests/unit/test_config_mgm.py
  tests/unit/test_ingress_per_app.py
  tests/unit/test_ingress_per_unit.py
  tests/unit/test_ingress_per_unit_provider.py
  tests/unit/test_ingress_tls.py
  tests/unit/test_ingress_v1_backwards_compat/test_ingress_per_app_v1.py
  tests/unit/test_ingress_v1_backwards_compat/test_ingress_tls_v1.py
  tests/unit/test_ingress_v1_backwards_compat/test_middlewares_v1.py
  tests/unit/test_ipa.py
  tests/unit/test_lib_per_unit_provides_sequences.py
  tests/unit/test_middlewares.py
  tests/unit/test_scheme.py
  tests/unit/test_setup.py
  tests/unit/test_status.py
  tests/unit/test_tracing_integration.py
  tests/unit/test_workload_version.py
  tox.ini
  uv.lock
Labels: Charm Libraries: Out of Sync

#509 Rebase reverse chain fix
  lib/charms/observability_libs/v1/cert_handler.py
  tests/integration/helpers.py
  tests/integration/test_charm_health.py
  tests/integration/test_charm_ipa.py
  tests/integration/test_charm_ipu.py
  tests/integration/test_charm_route.py
  tests/integration/test_charm_tcp.py
  tests/integration/test_forward_auth.py
  tests/integration/test_tcp_ipa_compatibility.py
  tests/integration/test_tcp_ipu_compatibility.py
Labels: Charm Libraries: Out of Sync, Libraries: Out of sync
